/* Write your code here. */
.bg-container{
    display: flex;
flex-direction: column;
justify-content: start;
margin-top:50px ;
margin-left: 20px;
}
h1{
    margin-left: 50px;
}
img{
width:20px;
height: 20px;
margin-right: 20px;

}
.common{
    display: flex;
    align-items: center;
    padding: 20px;
    color:white;
max-width: 300px;       margin-bottom:20px ;
}
.info{
background-color: #0b69ff;
}
.success{
background-color: #2dca73;
}
.warning{
background-color: #ffb800;

}
.error{
background-color: #ff0b37;

}

@media (min-width:768px) and  (min-height:992px){
h1{
font-size: 68px;
/* text-align: center;     */
}
.bg-container{
    align-items: center;
}
.common{
    min-width: 450px;    
    margin-left: 20px;
    font-size: larger;
 

}
}